@font-face{
    font-family: 'bebas';
    src:url(/assets/Fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

@font-face{
    font-family: 'montserrat';
    src:url(/assets/Fonts/Montserrat/static/Montserrat-Regular.ttf);
}