/* Error: Undefined variable.
 *     ,
 * 202 |     color:$nav-color-text;
 *     |           ^^^^^^^^^^^^^^^
 *     '
 *   index.scss 202:8  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a     \2577 \a 202 \2502      color:$nav-color-text;\d\a     \2502            ^^^^^^^^^^^^^^^\a     \2575 \a   index.scss 202:8  root stylesheet";
}
