@font-face {
    font-family: roboto;
    src: url(../Fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: inco;
    src: url(../Fonts/inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf);
}